In [28]:
# importamos libreria y leemos el archivo
import pandas as pd
df = pd.read_csv('dataexport_20221117T084926.csv')

C:\Users\nirog\AppData\Local\Temp\ipykernel_18144\2140552361.py:3: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataexport_20221117T084926.csv')

In [ ]:
# 1. Leer el fichero desde python:

In [29]:
# eliminar cosas innecesarias (comas, quitar espacios que no valgan, etc).
# este comando elimina rows con valores nulos
df = df.dropna()
print(df.head(48))

             location                                        Basilea  \
0                 lat                                       47.54694
1                 lon                                        7.56892
2                 asl                                        283.697
3            variable                                    Temperature
4                unit                                             Â°C
5               level                        2 m elevation corrected
6          resolution                                         hourly
7         aggregation                                           None
8           timestamp  Basilea Temperature [2 m elevation corrected]
133690  20080101T0100                                    -0.10947134
133691  20080101T0200                                      1.9005287
133692  20080101T0300                                      1.6105287
133693  20080101T0400                                      1.1105287
133694  20080101T0500                                      0.8205287
133695  20080101T0600                                     0.55052865
133696  20080101T0700                                     0.22052866
133697  20080101T0800                                    -0.38947132
133698  20080101T0900                                    -0.69947135
133699  20080101T1000                                     0.18052867
133700  20080101T1100                                     0.93052864
133701  20080101T1200                                      1.4405286
133702  20080101T1300                                      2.0905285
133703  20080101T1400                                      2.9105287
133704  20080101T1500                                      3.5305285
133705  20080101T1600                                      3.7905285
133706  20080101T1700                                      3.5405285
133707  20080101T1800                                      3.4605286
133708  20080101T1900                                      2.8805285
133709  20080101T2000                                      2.1005285
133710  20080101T2100                                     0.85052866
133711  20080101T2200                                     0.38052866
133712  20080101T2300                                    0.040528655
133713  20080102T0000                                    -0.17947134
133714  20080102T0100                                    -0.75947136
133715  20080102T0200                                     -1.5894713
133716  20080102T0300                                     -2.2894714
133717  20080102T0400                                     -2.9194715
133718  20080102T0500                                     -3.6094716
133719  20080102T0600                                     -3.5494714
133720  20080102T0700                                     -3.8294713
133721  20080102T0800                                     -4.0394716
133722  20080102T0900                                     -3.8194714
133723  20080102T1000                                     -2.8394713
133724  20080102T1100                                     -1.3894713
133725  20080102T1200                                    0.050528657
133726  20080102T1300                                      1.1705287
133727  20080102T1400                                      2.2505286
133728  20080102T1500                                      2.5705285

                          Basilea.1
0                          47.54694
1                           7.56892
2                           283.697
3               Precipitation Total
4                                mm
5                               sfc
6                            hourly
7                              None
8       Basilea Precipitation Total
133690                          0.0
133691                          0.0
133692                          0.0
133693                          0.0
133694                          0.0
133695                          0.0
133696                          0.0
133697                          0.0
133698                          0.0
133699                          0.0
133700                          0.0
133701                          0.0
133702                          0.0
133703                          0.0
133704                          0.0
133705                          0.0
133706                          0.0
133707                          0.0
133708                          0.0
133709                          0.0
133710                          0.0
133711                          0.0
133712                          0.0
133713                          0.0
133714                          0.0
133715                          0.0
133716                          0.0
133717                          0.0
133718                          0.0
133719                          0.0
133720                          0.0
133721                          0.0
133722                          0.0
133723                          0.0
133724                          0.0
133725                          0.0
133726                          0.0
133727                          0.0
133728                          0.0

In [30]:
df1 = df.drop(range(0,9))
print(df1.head(10))

             location      Basilea Basilea.1
133690  20080101T0100  -0.10947134       0.0
133691  20080101T0200    1.9005287       0.0
133692  20080101T0300    1.6105287       0.0
133693  20080101T0400    1.1105287       0.0
133694  20080101T0500    0.8205287       0.0
133695  20080101T0600   0.55052865       0.0
133696  20080101T0700   0.22052866       0.0
133697  20080101T0800  -0.38947132       0.0
133698  20080101T0900  -0.69947135       0.0
133699  20080101T1000   0.18052867       0.0

In [31]:
df1.rename(columns = {'location':'date'}, inplace = True)
df1.rename(columns = {'Basilea': 'temp_in_Basilea'}, inplace = True)
print(df1)

                 date temp_in_Basilea Basilea.1
133690  20080101T0100     -0.10947134       0.0
133691  20080101T0200       1.9005287       0.0
133692  20080101T0300       1.6105287       0.0
133693  20080101T0400       1.1105287       0.0
133694  20080101T0500       0.8205287       0.0
...               ...             ...       ...
263740  20221101T1900       14.560529       0.0
263741  20221101T2000       14.500529       0.0
263742  20221101T2100       13.830529       0.0
263743  20221101T2200       13.200529       0.0
263744  20221101T2300       12.740529       0.0

[130055 rows x 3 columns]

In [32]:

def change(s):
    result_date = s[6:8] + '-' + s[4:6] +'-' + s[0:4] # genera la fecha en formato DD-MM-AAAA
    result_time = s[-4:-2] + ':' + s[-2:] # genera la hora en formato xx:xx
    return result_date + '/' + result_time # devuelve el formato en resultado DD-MM-AAAA/xx:xx

In [33]:
print(df1)

                 date temp_in_Basilea Basilea.1
133690  20080101T0100     -0.10947134       0.0
133691  20080101T0200       1.9005287       0.0
133692  20080101T0300       1.6105287       0.0
133693  20080101T0400       1.1105287       0.0
133694  20080101T0500       0.8205287       0.0
...               ...             ...       ...
263740  20221101T1900       14.560529       0.0
263741  20221101T2000       14.500529       0.0
263742  20221101T2100       13.830529       0.0
263743  20221101T2200       13.200529       0.0
263744  20221101T2300       12.740529       0.0

[130055 rows x 3 columns]

In [34]:
print(df1.head())

                 date temp_in_Basilea Basilea.1
133690  20080101T0100     -0.10947134       0.0
133691  20080101T0200       1.9005287       0.0
133692  20080101T0300       1.6105287       0.0
133693  20080101T0400       1.1105287       0.0
133694  20080101T0500       0.8205287       0.0

In [ ]:
# 2. Arreglar el fichero para que aparezca solo el nombre del lugar, la fecha en formato DD-MM-YYYY, y dos columnas de datos, eliminando cosas innecesarias (comas, quitar espacios que no valgan, etc).

In [35]:
%%time

# cambia cada elemento de 'date' en formato DD-MM-AAAA/xx:xx
for x in df1['date']:
    df1['date'] = df1['date'].replace([x], change(x))

Wall time: 16min 45s

In [36]:
print(df1)

                    date temp_in_Basilea Basilea.1
133690  01-01-2008/01:00     -0.10947134       0.0
133691  01-01-2008/02:00       1.9005287       0.0
133692  01-01-2008/03:00       1.6105287       0.0
133693  01-01-2008/04:00       1.1105287       0.0
133694  01-01-2008/05:00       0.8205287       0.0
...                  ...             ...       ...
263740  01-11-2022/19:00       14.560529       0.0
263741  01-11-2022/20:00       14.500529       0.0
263742  01-11-2022/21:00       13.830529       0.0
263743  01-11-2022/22:00       13.200529       0.0
263744  01-11-2022/23:00       12.740529       0.0

[130055 rows x 3 columns]

In [37]:
# pasamos nuestro dataframe final a un archivo csv
df1.to_csv (r'C:\Users\nirog\Meteorologia\basilea_dataframe.csv', index = None, header=True)